Projeto/Evolucao/Web References/WebLunetRemessa/webservice_lunetremessawsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://177.66.168.159/soap/LunetRemessa" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://177.66.168.159/soap/LunetRemessa" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://177.66.168.159/soap/LunetRemessa">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="enviardadosRequest">
    <wsdl:part name="EMP_CGCCPF" type="xsd:string" />
    <wsdl:part name="EMP_TOKEN" type="xsd:string" />
    <wsdl:part name="dados" type="xsd:string" />
    <wsdl:part name="VERSAO_SINCRONIZADOR" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="enviardadosResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="statusultimoenvioRequest">
    <wsdl:part name="EMP_CGCCPF" type="xsd:string" />
    <wsdl:part name="EMP_TOKEN" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="statusultimoenvioResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="LunetRemessaPortType">
    <wsdl:operation name="enviardados">
      <documentation>API para Enviar Dados para o WebService Lunet</documentation>
      <wsdl:input message="tns:enviardadosRequest" />
      <wsdl:output message="tns:enviardadosResponse" />
    </wsdl:operation>
    <wsdl:operation name="statusultimoenvio">
      <documentation>API receber o Status do Ultimo Envio</documentation>
      <wsdl:input message="tns:statusultimoenvioRequest" />
      <wsdl:output message="tns:statusultimoenvioResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LunetRemessaBinding" type="tns:LunetRemessaPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="enviardados">
      <soap:operation soapAction="http://177.66.168.159/funcoes/func_android/webservice_lunetremessawsdl.php/enviardados" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.lunet.com.br/funcoes/func_android/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.lunet.com.br/funcoes/func_android/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="statusultimoenvio">
      <soap:operation soapAction="http://177.66.168.159/funcoes/func_android/webservice_lunetremessawsdl.php/statusultimoenvio" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.lunet.com.br/funcoes/func_android/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.lunet.com.br/funcoes/func_android/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LunetRemessa">
    <wsdl:port name="LunetRemessaPort" binding="tns:LunetRemessaBinding">
      <soap:address location="http://177.66.168.159/funcoes/func_android/webservice_lunetremessawsdl.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>